<section class="reservation_area">
    <aside class="calendar">
      <mat-calendar [selected]="selectedRangeValue" (selectedChange)="selectedChange($event)" class="X"></mat-calendar>
    </aside>
    <aside class="price-area">
      <div class="Check-in">
        <img src="./../../../../../../assets/images/hotel-info-images/login_360.png" alt="Check-in" />
        <span>{{ selectedRangeValue?.start | date }}</span>
        <hr>
      </div>
  
      <div class="Check-in">
        <img src="./../../../../../../assets/images/hotel-info-images/out_360.png" alt="Check-out" />
        <span >{{ selectedRangeValue?.end | date }}</span>
        <hr>
      </div>
  
      <div class="price_and_reserve">
        <div class="total_price">
          <span class="price_shape">{{'Price' | translate}} <strong class="price">{{ calculateTotalPrice().totalPrice | currency }}</strong></span>
          <hr>
        </div>
        <button class="btn_reserve">{{'Reserve' | translate}} </button>
      </div>
    </aside>
    <aside class="details">
      <div class="amenities">
        <h3>{{'Services' | translate}}</h3>
        <hr>
        <ul>
          <li *ngFor="let amenity of hotel.rooms[0].amenities">
            <img src="./../../../../../../assets/images/hotel-info-images/service_360.png" alt="Service icon" />
            <span>{{ amenity }}</span>
          </li>
        </ul>
      </div>
      <div class="contact_info">
        <div class="rating">
          <span>{{ hotel.rating }} </span>
          <img src="./../../../../../../assets/images/hotel-info-images/star_360.png" alt="Rating" />
          <hr>
        </div>
        <div class="contact">
          <div class="host_name">
            <h3 class="hosted_by">{{'Hosted By' | translate}} :{{ hotel.owner.fullName }}</h3>
            <hr>
          </div>
          <div class="host_email">
            <h3>{{'Questions?' | translate}} <span class="owner_mail">{{ hotel.owner.email }}</span></h3>
          </div>
        </div>
      </div>
    </aside>
  </section>