.container{
    display: flex;
    margin: 40px auto;
    padding: 0px;
    align-items: center;
    justify-content: space-around;
}
.image-area{
    padding-top: 30px;
    box-sizing: border-box;
}
app-location{
    margin:0px 20px 0px 20px
} 

@media screen and (max-width: 1130px) {
    .container {
     flex-direction: column;
     min-height: 1000px;

    }
    app-reservation-area {
        order: 0;
        margin-bottom: 30px; 
    }

    app-location{
        order: 1; 

    }
}