html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Noto Sans Georgian", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Sans Georgian", sans-serif;
}

.mat-typography {
  font-family: "Noto Sans Georgian", sans-serif;
}

.mat-typography h1,
.mat-typography h2,
.mat-typography h3,
.mat-typography h4,
.mat-typography h5,
.mat-typography h6 {
  font-family: "Noto Sans Georgian", sans-serif;
}
